<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Value</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @ingredients.each do |item| %>
      <% val=item.food.price * item.quantity%>
        <tr>
          <td><%= item.food.name%> <% p recipe_recipe_food_path(recipe_id: item.recipe_id, id: item.id)%></td>
          <td><%= item.quantity%> <%= item.food.measurement_unit%></td>
          <td><%=val%>$</td>
          <td>
            <%= link_to 'REMOVE', recipe_recipe_food_path(recipe_id: item.recipe_id, id: item.id),
              data: { turbo_method: :delete, turbo_confirm: "Are you  sure?"}
            %>
            </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
