
<div class="m-4">
  <h1 class="text-center"><%= @recipe.name%></h1>
  <div class="row mt-4">
    <div class="col-7" >
      <p>Preparation time: <%= @recipe.preparation_time%> minutes</p>
      <p>Cooking time: <%= @recipe.cooking_time%> minutes</p>
      <p>Steps: <%= @recipe.description%></p>
    </div>
    <div class="form-check form-switch col-3 align-self-center">
      <% if @recipe.public?%>
        <input class="form-check-input" type="checkbox" name="flexRadioDisabled" id="flexRadioCheckedDisabled" checked disabled>
      <%else%>
        <input class="form-check-input" type="checkbox" name="flexRadioDisabled" id="flexRadioCheckedDisabled" disabled>
      <%end%>
      <label class="form-check-label fw-bold text-dark" for="flexRadioCheckedDisabled">
        Public
      </label>
    </div>
  </div>
  <div class="row">
    <%= link_to "Add Food", new_recipe_recipe_food_path(@recipe) %>
</div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Value</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @ingredients.each do |item| %>
      <% val=item.food.price * item.quantity%>
        <tr>
          <td><%= item.food.name%> <% p recipe_recipe_food_path(recipe_id: item.recipe_id, id: item.id)%></td>
          <td><%= item.quantity%> <%= item.food.measurement_unit%></td>
          <td><%=val%>$</td>
          <td>
            <%= link_to 'REMOVE', recipe_recipe_food_path(recipe_id: item.recipe_id, id: item.id),
              data: { turbo_method: :delete, turbo_confirm: "Are you  sure?"}
            %>
            </td>
        </tr>
    <% end %>

    </tbody>


  </table>
</div>



