<%= form_with(model: food) do |form| %>
  <% if food.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
        <% food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-content">
    <div class="form-position">
      <div>
        <%= form.label "name", style: "display: block" %>
        <%= form.text_field :name %>
      </div><br/>

      <div>
        <%= form.label "measurement_unit", style: "display: block"  %>
        <%= form.text_field :measurement_unit %>
      </div><br/>

      <div>
        <%= form.label "price", style: "display: block" %>
        <%= form.text_field :price %>
      </div><br/>

      <div>
        <%= form.label "quantity", style: "display: block" %>
        <%= form.text_field :quantity %>
      </div><br/>

      <div class="submit-btn">
        <%= form.submit class:"submit-btn-style" %>
      </div>
      <% end %>
    </div>
  </div>
